<a href="https://colab.research.google.com/github/Stanniack/MachineLearningExamples/blob/main/Machine_Learning_Exemplo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Descriação: CSV sendo cada linha um usuário de um site: Home, how it works, contact e verificando se o usuário efetuou a compra.

Importando csv com pandas:

In [7]:
import pandas as pd
dados = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv')

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0
5     1             0        1       1
6     1             1        0       0
7     1             0        1       1
8     1             1        0       0
9     1             0        1       1

Trocando os nomes das variáveis com map

In [18]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "vendido"
}
dados = dados.rename(columns = mapa)

Atribuindo as variáveis com função x

In [19]:
x = dados[["principal", "como_funciona", "contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

Atribuindo as variáveis com função y

In [25]:
y = dados[["vendido"]]

    vendido
0         0
1         0
2         0
3         0
4         0
..      ...
94        0
95        1
96        0
97        0
98        0

[99 rows x 1 columns]